
@{
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div align="center">
    <label for="orgsDropdown" style="margin-top:50px;"><b>Organisations</b></label>
    <select class="form-control" id="org" name="departmentsDropdown"></select>
</div>

<script>

    $(document).ready(function () {
     $.ajax({
                type: 'get',
                dataType: 'json',
                url: '@Url.Action("AccountList","Account")',
                success: function (data) {
                var s = '<option value="0">--Choose Organisation--</option>';
                $("#org").empty();
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].accountName + '">' + data[i].accountName + '</option>';
                    }
                $("#org").append(s);
                }
     });



         $('#org').change(function () {
       
            var Org = $('#org').val();

            $.ajax({
                type: 'get',
                dataType: 'json',
                data: { 'organisation': Org },
                url: '@Url.Action("report","OrgReports")',
                success: function (data) {
                    
                }

            });
        })
    });

</script>