@model distribution_copy.Models.AccountsResponse.AccountsResponse.AccountList

@{
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}
<style>
      .borderRadius {
        border-radius: 10px;
    }

    .width {
        width: 250px;
    }
</style>
@if (Model.value.Count > 0)
{
    @*<div class="row col-md-12">*@
    <div class="">
        @*<h5 class="pt-3 display-4" style="font-size:30px">Account and Project Selection</h5>*@
        <hr class="mtop-bot10">
        <div class="form-group form-inline" style="margin-left:28%">
            <label class="w-auto text-right mr-1"><h6>Organization :</h6> </label>
            <select class="form-control inline w-50 borderRadius width" id="ddlADOAccount">
                @foreach (var accounts in Model.value)
                {
                    <option account-id="@accounts.accountName">@accounts.accountName</option>
                }
            </select>
            <img src="~/Content/Images/loadinggif.gif" class="projectloader" style="width: 30px; display: none" />
        </div>

        <div id="dvProjectDetails" class="form-group form-inline">
        </div>
    </div>
    <div style="float: right;margin-right: 520px;">

        <button type="button" id="btnGetWorkItems" style="border-radius:10px" class="btn btn-primary" disabled>Get WorkItems</button>
    </div>
    @*</div>*@
}
else
{
    <div class="alert alert-danger col-sm-12">Either the VSTS account does not exist or the tool has not been authorised to access VSTS account </div>

}
<img src="~/Content/Images/loadinggif.gif" class="loader text-center" style="margin-left:35%;width:7%;display:none"/>
<div id="dvLoadWorkItems" class="pt-3">

</div>


<script src="~/Scripts/AppScripts/ADOScript.js"></script>


<style>
    select {
        border-radius: 15px;
    }

</style>