
@{
    Layout = "~/Views/Shared/_DashBoard.cshtml";
    ViewBag.Title = "Index";
}
<script scr="https://code.jquery.com/jquery-3.3.1.js"></script>
<script scr="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<style>
    .sizeNormal {
        font-size: 16px;
    }

    .borderRadius {
        border-radius: 10px;
    }

    .width {
        width: 250px;
    }
</style>




<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
        document.getElementById("load").hidden = false;
    
        //GetOrganization
            $.ajax({
                url: '@Url.Action("GetOrganization", "Test")',
                type: 'Get',
                data: {},
                dataType: 'json',
                success: function (data) {
                   document.getElementById("load").hidden = true;
                //    $("#freeze").fadeIn();
                    var count = Object.keys(data).length;
                    if (count >= 1) {
                        var optionhtml1 = '<option value="' +
                            0 + '">' + "--Select Organization--" + '</option>';
                        $("#OrganizationDrop").append(optionhtml1);
                        $.each(data.value, function (i) {
                            var optionhtml = '<option value="' +
                                data.value[i].accountId + '">' + data.value[i].accountName + '</option>';
                            $("#OrganizationDrop").append(optionhtml);
                        });
                        //   alert('Request Successful');
                    };
                },

                error: function (request, error) {
                //    $("#freeze").fadeIn();
                     document.getElementById("load").hidden = true;
                   
                    alert('Invalid Details');
                }
            });




        //Select All CheckBox
           $("#selectAll").on("click", function () {

               $("#DataTable tr").each(function () {
                   //var isChecked = $("#chkPassport").is(":checked");
                   if ($(this).find("input").is(":checked")) {
                       $(this).find("input").attr('checked', false);
                   }
                   else {
                       $(this).find("input").attr('checked', true);
                   }
               });
           });

        $('#OrganizationDrop').change(function () {
            $('#TestPlanDrop').empty();
            $('#ddlProjectvalue').empty();
             document.getElementById("load").hidden = false;
            $("#load").show();
           //  $("#freeze").fadeOut();
               var orgName=$("#OrganizationDrop option:selected").text();
                var pat = $('#PAT').val();
                if (orgName != null || orgName != "" && pat != null || pat != "")
                    $.ajax({
                        url:'@Url.Action("GetProjects","Test")',
                        type: 'Get',
                        data: { 'orgName': orgName },
                        dataType: 'json',
                        success: function (data) {
                            $("#ddlProjectvalue").empty();
                             $('#dataTable').DataTable().destroy();
                        $('#dataTable1').DataTable().destroy();
                        $('#dataTable').remove();
                        $('#dataTable1').remove();
                 document.getElementById("load").hidden = true;
                           //  $("#freeze").fadeIn();
                            var count = Object.keys(data).length;
                            if (count >= 1) {
                                var optionhtml1 = '<option value="' +
                                    0 + '">' + "--Select Project--" + '</option>';
                                $("#ddlProjectvalue").append(optionhtml1);
                                $.each(data.value, function (i) {
                                    var optionhtml = '<option value="' +
                                        data.value[i].id + '">' + data.value[i].name + '</option>';
                                    $("#ddlProjectvalue").append(optionhtml);
                                });
                                //   alert('Request Successful');
                            };
                        },

                        error: function (request, error) {
                             $('#dataTable').DataTable().destroy();
                        $('#dataTable1').DataTable().destroy();
                        $('#dataTable').remove();
                        $('#dataTable1').remove();
                 document.getElementById("load").hidden = true;
                            alert('Invalid Details');
                        }
                    });
            })


        $('#ddlProjectvalue').change(function () {
            $('#TestPlanDrop').empty();
                 document.getElementById("load").hidden = false;
                var selectedText = $("#ddlProjectvalue").find("option:selected").text();
                var selectedValue = $("#ddlProjectvalue").val();
                $('#testPlanDrop').show();
                $.ajax({
                    url:'@Url.Action("GetJsonPlans", "Test")',
                    type: 'Get',
                    data: { 'selectedProject': selectedText },
                    dataType: 'json',
                    success: function (data) {
                        $("#TestPlanDrop").empty();
                         $('#dataTable').DataTable().destroy();
                        $('#dataTable1').DataTable().destroy();
                        $('#dataTable').remove();
                        $('#dataTable1').remove();
                         document.getElementById("load").hidden = true;
                        document.getElementById('load').hidden = true;
                        if (data.count<1)
                        {
                            alert('No Test Plans Found')
                        }
                        var count = Object.keys(data).length;
                        if (count >= 1) {
                            var optionhtml1 = '<option value="' +
                                0 + '">' + "--Select Test Plan--" + '</option>';
                            $("#TestPlanDrop").append(optionhtml1);

                            $.each(data.value, function (i) {
                                var optionhtml = '<option value="' +
                                    data.value[i].id + '">' + data.value[i].name + '</option>';

                                $("#TestPlanDrop").append(optionhtml);
                            });
                            //      alert('Request Successful');
                        };
                    },

                    error: function (request, error) {
                         $('#dataTable').DataTable().destroy();
                        $('#dataTable1').DataTable().destroy();
                        $('#dataTable').remove();
                        $('#dataTable1').remove();
                        document.getElementById('load').hidden = true;
                        alert('Request Failed');
                    }
                });
            });



        $('#TestPlanDrop').change(function () {
            
             document.getElementById("load").hidden = false;
                var selectedValue = $("#TestPlanDrop").val();
                $('#testPlanDrop').show();
                $.ajax({
                    url:'@Url.Action("GetTestSuits", "Test")',
                    type: 'Get',
                    data: { 'planid': selectedValue },
                    dataType: 'json',
                    success: function (data) {
                        document.getElementById("load").hidden = true;
                       // $(".dataTable").clear();
                        $('#dataTable').DataTable().destroy();
                        $('#dataTable1').DataTable().destroy();
                        $('#dataTable').remove();
                        $('#dataTable1').remove();
                         $('#dataTable').show();
                        if (data.count<1)
                        {
                            alert('No Test Suites Found')
                        }
                        var count = Object.keys(data).length;
                           

                        if (data.length > 0) {
                            tabledata = "<table id='dataTable'><thead> <tr><th>Suite</th><th>Planned</th><th>Pass</th><th>Fail</th><th>Executed</th><th>Pass Based On Execution</th><th>Pass Based On Planing %</th><th>Executed Percentage</th><th>NotYetExecution</th></thead><tbody>";

                         //   for (let i = 0; i < data.length; i++) {
                            $.each(data, function (i) {
                                let row = data[i];
                                tabledata += "<tr class='tableData'><td>" + data[i].Suite + "</td><td>" + data[i].Planned + "</td><td>" + data[i].Pass + "</td><td>" + data[i].Fail + "</td><td>" + data[i].Executed + "</td><td> " + data[i].PassBasedOnExecution +" %</td><td>" + data[i].PassPercentage + " %</td><td>" + data[i].ExecutedPercentage + " %</td><td>" + data[i].NotYetExecution + "</td></tr>";
                            })
                            tabledata += "</tbody></table>";
                            console.log(tabledata);
                            $("#DataTableDiv").append(tabledata);
                             $('#dataTable').DataTable();
                        }
                            //      alert('Request Successful');

                        var suite;
                        var planned=0;
                        var pass=0;
                        var fail=0;
                        var executed=0;
                        var passBasedExec=0;
                        var passBasedPlanning=0;
                        var execPercentage=0;
                        var notExecuted=0;
                        var totalpassBasedExec=0;
                        var totalpassBasedPlanning=0;
                        var totalexecPercentage=0;
                        $.each(data, function (j) {
                            console.log(data[j].Pass);
                             //   var tableData = "<tr class='tableData'><td>" + data[i].Suite + "</td><td>" + data[i].Planned + "</td>" + data[i].Executed + "</td><td>" + data[i].ExecutedPercentage +"</td><td>"+data[i].Pass+"</td></td>"+data[i].Fail+"</td><td>"+data[i].PassPercentage+"</td><td>"+data[i].PassBasedOnExecution+"</td><td>"+data[i].NotYetExecution+"</td></tr>"
                            
                            //$("#DataTable").append(tableData);
                            var PlanConvert = parseInt(data[j].Planned);
                            var PassConvert = parseInt(data[j].Pass);
                            var FailConvert = parseInt(data[j].Fail);
                            var ExecuteConvert =parseInt(data[j].Executed);
                            var PassBasedExecConvert =parseInt(data[j].PassBasedOnExecution);
                            var PassBasedPlanConvert =parseInt(data[j].PassPercentage);
                            var execPercentageConvert =parseInt(data[j].ExecutedPercentage);
                            var notExecutedConvert = parseInt(data[j].NotYetExecution);
                          
                            suite = data[j].Suite;
                            planned = planned + PlanConvert;
                            pass = pass + PassConvert;
                            fail = fail + FailConvert;
                            executed = executed + ExecuteConvert;
                            passBasedExec = passBasedExec + PassBasedExecConvert;
                            passBasedPlanning= passBasedPlanning + PassBasedPlanConvert;
                            execPercentage = execPercentage + execPercentageConvert;
                            notExecuted = notExecuted + notExecutedConvert;                              
                        });
                        console.log("plan: " + planned + " Not Executed:" + notExecuted + "PassBasedPlan: " + passBasedPlanning + "Fail: " + fail);
                        if (pass == 0 && executed == 0) {
                            totalpassBasedExec = 0;
                        }
                        else {
                            totalpassBasedExec = parseInt(pass / executed * 100);
                        }
                        console.log(totalpassBasedExec);
                        if (pass == 0 && planned == 0) {
                            totalpassBasedPlanning = 0;
                        }
                        else {
                            totalpassBasedPlanning = parseInt(pass / planned * 100);
                        }
                        if (executed == 0 && planned == 0) {
                            totalexecPercentage = 0;
                        }
                        else {
                            totalexecPercentage = parseInt(executed / planned * 100);
                        }

                         var tabledata1 = "<table id='dataTable1'><thead> <tr><th>Planned</th><th>Pass</th><th>Fail</th><th>Executed</th><th>Pass Based On Execution</th><th>Pass Based On Planing %</th><th>Executed Percentage</th><th>NotYetExecution</th></thead><tbody>";

                         //   for (let i = 0; i < data.length; i++) {
                        
                        tabledata1 += "<tr class='tableData'><td>" + planned + "</td><td>" + pass + "</td><td>" + fail + "</td><td>" + executed + "</td><td> " + totalpassBasedExec + " %</td><td>" + totalpassBasedPlanning + " %</td><td>" + totalexecPercentage + " %</td><td>" + notExecuted + "</td></tr>";
                        tabledata1 += "</tbody></table>";
                        console.log("total Table");
                        console.log(tabledata1);
                            $("#DataTableDiv1").append(tabledata1);
                          $('#dataTable1').DataTable();

                    },

                    error: function (request, error) {
             $('#dataTable').DataTable().destroy();
                        $('#dataTable1').DataTable().destroy();
                        $('#dataTable').remove();
                        $('#dataTable1').remove();
                        
                        alert('Request Failed');
                    }
                });
            });
    })
</script>




<div id="freeze">

    <div class="breadcrumb-holder">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Reports   </li>
            </ul>
        </div>
    </div>

    <div class="form-horizontal" style="font-size:16px;margin-left:1.5%">


        <div class="form-row">
            <div class="col-xs-4">
                <label class="control-label display-4  sizeNormal" style="padding-right:40px">Organization</label>
                <select name="cs3" id="OrganizationDrop" class="form-control borderRadius width" style="opacity:0.8;"> </select>
            </div>

            <div class="col-xs-4 ml-5">

                <label class="control-label display-4  sizeNormal" style="padding-right:40px">Project Name</label>
                <select name="cs3" id="ddlProjectvalue" class="form-control borderRadius width" style="opacity:0.8;"> </select>
            </div>

            <div class="ml-5">
                <label class="control-label display-4  sizeNormal" style="padding-right:40px">Test Plan</label>
                <select name="cs3" id="TestPlanDrop" class="form-control borderRadius width" style="opacity:0.8;"> </select>
            </div>
        </div>
    </div>
    <img id="load" style="margin-left:45%" height="100" width="100" src="~/Content/Images/loadinggif.gif" hidden />
    <br />

    <div id="DataTableDiv1" class="dvTableData">
        </div>
    <br />
    <br />
        <div id="DataTableDiv" class="dvTableData">
            
        </div>
    </div>





